* {
  // background-color: skyblue;
  box-sizing: border-box;
}
html,
body,
#root {
  // 🍀 start setting
  // display: flex;
  // flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}